#title {
    margin-top: 50px;
    font-size: 80px;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-family: 'Reenie Beanie', cursive;
}

#startGame {
    margin-top: 30px;
    font-size: 40px;
    width: 300px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: bold;
}

#timeRemaining {
    font-size: 40px;
}

#questions {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

#startGame:hover {
    opacity: 0.8;
}

.answerButtons {
    margin: 10px;
    width: 300px;
}

.answerButtons:hover {
    opacity: 0.8;
}

#correctAnswer {
    font-family: 'Reenie Beanie', cursive;
    font-size: 60px;
    font-weight: bold;
}

#incorrectAnswer {
    font-family: 'Reenie Beanie', cursive;
    font-size: 60px;
    font-weight: bold;
}

#timesUp {
    font-family: 'Reenie Beanie', cursive;
    font-size: 60px;
    font-weight: bold;
}

#startOver {
    margin: 10px;
    font-size: 40px;
    width: 300px;
    font-family: 'Reenie Beanie', cursive;
    font-weight: bold;
}



